:root {
	--primary: #899878;
	--secondary: #e8e9eb;
	--warning: #e4b363;
	--gray: #f7f7f2;
	--gray50: #ecece7;
	--dark: #121113;
	--dark50: #222725;
	--dark100: #56604f;
	--white: #fff;
	--green: #3e9756;
}
